body {
  font-family: "Arial", sans-serif;
}

h2 {
  color: #800080;
}

h1 {
  color: #F8F8FF;
}

#contact {
  background-color: #FFDE7A;
  padding: 2%;
}

.img-works {
  width: 300px;
}

.banner {
  width: 200%;
  display: block;
}
